* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

section {
	scroll-margin-top: 8rem;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

span {
	display: block;
}

button {
	cursor: pointer;
}

input,
button,
textarea,
select {
	font: inherit;
	background: transparent;
	border: none;
	outline: none;
	display: block;
}

.gridWrapper {
	width: 100%;
	max-width: 144rem;
	padding: 0 1.6rem;
	margin: 0 auto;
}
